
.topScroll-btn{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: .5rem .6rem;
    border-radius: 5px;
    position:fixed;
    bottom: .5rem;
    right: .5rem;
    cursor: pointer;
    display: none;
}
.topScroll-btn_active{
    display: initial;
}